.vscode/**
.vscode-test/**
out/test/**
src/**
client/src/**
server/src/**
./yaml-language/**

.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

client/**
!client/out/extension.js
server/**
!server/out/esphomeServer.js
!server/node_modules/prettier
!server/node_modules/yaml-language-server