.vscode/**
.vscode-test/**
out/test/**
script/**
./yaml-language/**

.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts

# client uses webpack
client/**
!client/out/extension.js

# server does not
server/src/**